.container {
  width: 80%;
  height: 80%;
  background-color: #fff;
  margin:0 auto;
  margin-bottom: 2vh;
}

.container p{
  width: auto;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  padding-top: 15px;
  color: #606266;
}

.el-table td, .el-table th{
  text-align: center;
}
