*.box-card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.text {
  font-size: 14px;
  color: #606266;
}

.item {
  margin-bottom: 18px;
}

.clearfix{
  width: 100%;
  height: 60px;
  line-height: 0 !important;
}

.box-card {
  width: 90%;
}
.box-card span{
  font-size: 20px;
  padding: 3px 0;
  color:#606266;
}

.reportDetail{
  height: auto;
  font-size: 18px
}
.reportDetail tr{
  height: 40px;

}

.showReportImage{
  float: right;
  margin-top: 30px;
}

.message{
  width: 1000px;height: auto;word-wrap: break-word; font-size: 15px
}

.returnlast{
  font-size: 13px;color: #999
}
.returnlast:hover{

}
